@import url("https://fonts.googleapis.com/css?family=Roboto:400|Lora:400");

html {
  font-size: 100%;
} /*16px*/
:root {
  /* colors  primary*/
  --white: #fef6e4;
  /* grey */
  --grey-50: #f9fafb;
  --grey-100: #f3f4f6;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #111827;
  /* other VArs */
  --transition: 0.3s ease-in-out all;
  --max-width: 1024px;
  --fixed-width: 600px;
  /* box shadow */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-5: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

body {
  background: var(--grey-200);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Lora", serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}
.container {
  max-width: var(--max-width);
  margin: auto auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  position: relative;
}
.filters-container {
  display: grid;
  grid-template-columns: 1fr;
}
.items-fixed {
  position: relative;
}
#search {
  height: 1.72rem;
  background: var(--grey-300);
  border: none;
}
#search::placeholder {
  font-weight: bolder;
}
.title {
  margin: 0.25rem 0;
  font-size: 1.3rem;
  font-weight: bolder;
}
.filter-btns {
  display: grid;
}
.btn {
  display: flex;
  border: none;
  margin: 0.5rem 0;
  text-transform: capitalize;
  background: transparent;
}
.items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  max-width: 700px;
  display: grid;
  grid-template-columns: 1fr;
  width: 95vw;
  box-shadow: var(--shadow-2);
}
.card-body {
  width: 95vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
.card-footer {
  text-transform: capitalize;
}
.card-footer > p {
  font-weight: bolder;
}
@media screen and (min-width: 740px) {
  .container {
    grid-template-columns: 2fr 8fr;
  }
  .items-fixed {
    position: fixed;
  }
  .card {
    width: 240px;
    margin: 0.42rem;
  }
  .card-body {
    width: 100%;
    height: 170px;
  }
  .items-container {
    justify-content: right;
  }
}
.error {
  text-align: center;
  text-transform: capitalize;
}
